.anim-spinner-wrapper {
position: relative;

width: 260px;
height: 260px;

display: flex;
align-items: center;
justify-content: center;

}

.anim-spinner-glow {
position: absolute;

width: 180px;
height: 180px;

border-radius: 50%;

background: #00f2fe;

filter: blur(50px);
opacity: .25;

}

.anim-spinner {
position: relative;

width: 180px;
height: 180px;

animation: spinnerRotate 2.5s linear infinite;

}

.spinner-arm {
position: absolute;

top: 5px;
left: 50%;

width: 50px;
height: 88px;

transform:
    translateX(-50%)
    rotate(0deg);

transform-origin: 25px 85px;

background:
    linear-gradient(
        180deg,
        #00f2fe,
        #4facfe,
        #7b2cff
    );

border-radius: 50px;

box-shadow:
    0 0 20px rgba(0,242,254,.6),
    inset 0 0 10px rgba(255,255,255,.3);

}

.spinner-arm:nth-child(2) {
transform:
translateX(-50%)
rotate(120deg);
}

.spinner-arm:nth-child(3) {
transform:
translateX(-50%)
rotate(240deg);
}

.spinner-orb {
position: absolute;

width: 34px;
height: 34px;

right: 8px;
top: 8px;

border-radius: 50%;

background: white;

box-shadow:
    0 0 20px #00f2fe;

}

.spinner-core {
position: absolute;

top: 50%;
left: 50%;

width: 52px;
height: 52px;

transform: translate(-50%, -50%);

background:
    radial-gradient(
        circle at 35% 30%,
        #ffffff,
        #12141d 35%
    );

border-radius: 50%;

border: 3px solid #00f2fe;

box-shadow:
    0 0 25px #00f2fe,
    inset 0 0 15px rgba(0,242,254,.4);

z-index: 5;

}

@keyframes spinnerRotate {
to {
transform: rotate(360deg);
}
}
